<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.
</p>
<%= render 'test' %>
<%= render :text => "sad" %>
<%= render :partial => 'test' %>
<%= render :partial => 'test', :layout => 'test1' %>

<%= form_for(:user, :url => {:action => "update"},:builder => CustomFormBuilder) do |f|  %>

  <td class="label-col" style="width:10px"><label>对接状态:</label></td>
  <td class="data-col" style="width:60px;word-break:break-all">
    <%= f.select :change_people, options_for_select([['Lisbon', 1], ['Madrid', 2]]) %></td>
  </td>
  <% cities_array = User.all.limit(1).map { |city| [city.name, city.id] } %>
  <%= options_for_select(cities_array) %>
  <%= options_from_collection_for_select(User.all.limit(1), :id, :name) %>
  <%= f.submit 'go' %>
<% end %>
